body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
input{
    border: none;
    border-bottom: 1px solid rgba(50,50,50,0.3);
}
input[disabled],input:disabled,textarea[disabled],textarea:disabled{
    background-color:rgba(0,0,0,0);
}
input[type=text]:focus, input[type=password]:focus,textarea:focus {
    outline:none;/*去除焦点蓝色边框*/
}
textarea{
    border: none;
    resize: none;
}
textarea::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
}
textarea::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    background: rgba(83,83,83,0.3);
}
textarea::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    border-radius: 3px;
    background: #EDEDED;
}
.inputComponent{
    position: relative;
    margin: 20px 30px;
}
.inputComponent input{
    width: 100%;
    background:none;
    border:none;
    border-bottom:1px solid rgba(255,255,255,0.9);
}
.inputComponent label{
    position: absolute;
    bottom: -3px;
    left:0;
    color: #1b1b1b;
}
footer{
    margin-top: 20px;
    text-align: center;
    background: #f8f8f8;
}
.carItemContainer{
    position: relative;
    width: 200px;
    height: 250px;
    padding:2px;
    margin-top:20px;
    border: 1px solid #555555;
}
.imgContainer{
    width: 190px;
    height: 190px;
}
.operationContainer{
    position: relative;
}
.buyBtn{
    position: relative;
    top:-5px;
    left: -5px;
    padding-top: 0;
}
.price{
    color:red;
}
.content-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content:center;
}
.button-container input{
    margin:0 10px;
    background-color: rgba(255,255,255,0.15);
    color: #1b1b1b;
}
.dialog-container{
    margin:0 auto;
}
.car-id{
    display: none;
}